* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  text-align: center;
  margin: 0;
}

nav {
  display: flex;
  background: blue;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}

.nav-hero-title {
  margin: 10px 0 0 0;
}

.nav-hero-descrip {
  margin: 0 0 10px 0;
}

.menu-container {
  display: flex;
  margin-left: auto;
}

.menu-btn {
  margin: auto 10px;
  font-size: 2rem;
}

.nav-items {
  position: absolute;
  background: red;
  display: flex;
  right: 0;
  flex-direction: column;
  margin: 0 0 0 auto;
  padding: 1.5rem 1rem;
}

.nav-items > .nav-item:hover {
  text-decoration: underline;
}

.services-card {
  width: 3rem;
  font-size: 20px;
}

.hide {
  display: none;
}


